<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center pad-30">
      <h1>About</h1>
      <p>Hello! I'm still working on this page.</p>
      
    </div>
  </div>
  <div class="row panel">
    <div class="col-sm-12 text-center pad-30">
      <h2>Dinosaurs Are Fascinating</h2>
      <p>Hello! I'm still working on this page.</p>
      
    </div>
  </div>
</div>