<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="main-message">
        <h1>Create your own avatar</h1>
        <p>Make a unique Trex from over 1000 combinations!</p>
      </div>
      
		<%= render 'builder' %>
      
    </div>
  </div>
</div>