<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center bootstrap-welcome">
      <h1>Create your own avatar</h1>
      <p class="lead">Make a unique Trex from over 1000 combinations!</p>
      
		<%= render 'builder' %>
      
    </div>
  </div>
</div>