// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: "Open Sans", sans-serif;
}

body > #content {
  padding: 100px 15px 90px;
  background: #63B3FF;

  h1 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1;
  }
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


header {

  .navbar {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(29,41,52,0.15);

    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-appearance: none;

  	a.nav-link {
      color: #A7AFB9;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 1rem;
      padding-right: 1rem;
  	}

    a.nav-link:focus, a.nav-link:hover {
      color: #63B3FF;
    }
  }
}

#canvas {
  width: 100%;
  max-width: 640px;
  max-height: 640px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 15px 20px rgba(29,41,52,0.15);
  display: block;
  margin: 30px auto;
}

#menu {
  margin-bottom: 30px;
  padding: 15px;

  .tab-active {
    border: 1px solid #63B3FF;

  }

  img {
    background: #fff;
    max-width: 100px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(29,41,52,0.15);
    opacity: 0.35;
    margin: 4px 2px;
  }
  img:hover, .tab-active {
    border: 2px solid #63B3FF;
    border-style: inset;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
}

#avatar {
  margin-bottom: 30px;
  padding: 15px;

  div {
    padding: 15px;
  }

  .actual {
    
  }

  img {
    background: #fff;
    max-width: 100px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(29,41,52,0.15);
    opacity: 0.35;
    margin: 4px 2px;
  }
  img:hover, .active {
    border: 2px solid #63B3FF;
    border-style: inset;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
}