// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: "Open Sans", sans-serif;
}

body > #content {
  padding: 100px 15px 90px;
  background: #63B3FF;

  h1 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1;
  }

  .btn {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2rem;
    padding: 0.75rem 2rem;
    box-shadow: 2px 4px 8px rgba(29,41,52,0.15);
    cursor: pointer;
    margin: 0 10px;
  }

  .btn-primary {
    background-color: #8cc63f;
    border: none;
    color: #fff;
  }

  .btn-primary:hover {
    background-color: #84b93d;
  }

  .btn-secondary {
    border: none;
  }

  .light {
    color: #fff;
  }

  .main-message {
    color: #fff;
  }

}

.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


header {

  .navbar {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(29,41,52,0.15);

    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-appearance: none;

  	a.nav-link {
      color: #A7AFB9;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 1rem;
      padding-right: 1rem;
  	}

    a.nav-link:focus, a.nav-link:hover {
      color: #63B3FF;
    }
  }
}

#canvas {
  width: 100%;
  max-width: 640px;
  max-height: 640px;
  height: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 15px 20px rgba(29,41,52,0.15);
  display: block;
  margin: 30px auto;
}

#avatar-options {
  background: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0px 15px 20px rgba(29,41,52,0.15);
  margin-top: 30px;
  max-height: 640px;


  #menu {
    margin-bottom: 15px;
    padding: 15px;
    background: #ececec;
    border-radius: 3px 3px 0 0;
    max-height: 640px;
    overflow-y: scroll;

    .tab-active {
      border: 2px solid #000;

    }

    img {
      background: #fff;
      border-radius: 3px;
      max-width: 100px;
      width: 100%;
      box-shadow: 0px 2px 4px rgba(29,41,52,0.15);
      opacity: 0.35;
      margin: 4px 2px;
      cursor: pointer;
    }
    img:hover, .tab-active {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
  }

  #avatar {
    margin-bottom: 30px;
    padding: 15px;
    max-height: 640px;
    overflow-y: scroll;

    div {
      padding: 15px;
    }

    .actual {
      
    }

    img {
      background: #fff;
      border-radius: 3px;
      max-width: 100px;
      width: 100%;
      box-shadow: 0px 2px 4px rgba(29,41,52,0.15);
      opacity: 0.35;
      margin: 4px 2px;
    }
    img:hover {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }

    .active {
      opacity: 1;
      border: #000000 2px outset;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
  }
}

@media (max-width: 992px) {
  #avatar-options{
    #avatar, #menu {
      overflow-x: scroll;
      overflow-y: hidden;
      max-height: 180px;
      white-space: nowrap;
    }
  }
}